<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crave.food.csse_android_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddInvoice"></activity>
        <activity android:name=".activities.Manage_receipt" />
        <activity android:name=".activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InvoicesMain"/>
        <activity android:name=".activities.SupplierLoggedActivity" />
        <activity android:name=".activities.PaymentView" />
        <activity android:name=".activities.View_good_receipt" />
        <activity android:name=".activities.add_good_receipt" />
        <activity android:name=".activities.ManagerLoggedActivity" />
        <activity android:name=".activities.Login" />
        <activity android:name=".activities.SupplierRegistration" />
        <activity android:name=".OrderViewSitemanager" />
        <activity android:name=".activities.OrderUpdateSitemanager"/>
        <activity android:name=".OrderPlaceSitemanager" />
        <activity android:name=".OrderViewSupplier" />
        <activity android:name=".OrderRespondSupplier" />
    </application>

</manifest>